/*****************************************
	Экран настроек
	Информационная панель
******************************************/
.bg_bibrefs_info_box {
	padding: 1.5em;
	background-color: #FAFAFA;
	border: 1px solid #ddd;
	margin: 1em;
	float: right;
	width: 22em;
}
.bg_bibrefs_info_box h3:first-of-type {
	margin-top: 0;
}
.bg_bibrefs_author {
	font-style: italic;
}
.bg_bibrefs_info_box p {
	margin: 0 0 .5em 0;
}
p.bg_bibrefs_gravatar {
	float: right;
	margin: 0 0 1em 1em;
}
.bg_bibrefs_info_box ul {
	list-style-type: disc;
	margin-left: 20px;
}
p.bg_bibrefs_close {
	text-align: right;
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
	color: darkblue;
	margin-top: 1.5em;
	margin-bottom: 0;
}


.bg_bibrefs {
	white-space:nowrap;
	cursor: pointer;
}
.bg_bibrefs:hover {
	background-color: #ccc;
}

/* POPUP */
.bible_references_theme_1.bible_references {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.8);
	/* background-image: radial-gradient(ellipse at center center, rgba(255, 255, 255,1) 0%, rgba(255, 255, 255, 0) 100%); */
}
.bible_references_theme_1.bible_references.br_popup_visible {
	transition: opacity 100ms ease-out;
	opacity: 1;
	visibility: visible;

}
.bible_references_theme_1 .bible_references_popup {
	max-width: calc(100vw - 20px);
	width: 800px;
	height: 600px;
	max-height: 80vh;
	background-color: #f9f9f9;
	transform: scale(0.9);
	opacity: 0;
	transition: 100ms ease-in;
	border-radius: 3px;
	box-shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.2);
	border: 1px solid #ccc;
}
.bible_references_theme_1.bible_references.br_popup_visible .bible_references_popup {
	transform: scale(1);
	opacity: 1;
	transition: 100ms ease-out;
}

.bible_references_theme_1 .bible_references_popup_header {
	height: 50px;
	display: flex;
	align-items: center;
	padding: 10px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}
.bible_references_theme_1 #bible_books {
	margin-left: 5px;
	min-width: 180px;
	margin-right: 50px;
}
.bible_references_theme_1 .bible_references_popup_close {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 10px;
	right: 10px;
	/* border: 2px solid #333; */
	/* background-color: #fff; */
	cursor: pointer;
	z-index: 30;
}
.bible_references_theme_1 .bible_references_popup_close:before {
	content: '';
	position: absolute;
	top: 50%;
	height: 60%;
	left: 50%;
	width:2px;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: #333;
}
.bible_references_theme_1 .bible_references_popup_close:after {
	content: '';
	position: absolute;
	top: 50%;
	height: 60%;
	left: 50%;
	width:2px;
	transform: translate(-50%, -50%) rotate(-45deg);
	background-color: #333;
}
.bible_references_theme_1 .bible_references_popup_content {
	padding: 10px;
	overflow-y: scroll;
	max-height: calc(100% - 50px); 
}

.bible_references_theme_1 .bible_references_popup_verses {
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
	line-height: 1.4em;
}




.bible_loading_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: rgba(255, 255, 255, 0.7);
}
.bible_loading_overlay:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 24px;
	height: 24px;
	z-index: 20;
	border-radius: 50%;
	border: 2px solid#333;
	border-bottom-color: transparent;
	margin-top: -12px;
	margin-left: -12px;
	animation: bible_loader_rotate 1s infinite linear;
	box-shadow: 0 0 1px 0 transparent inset, 0 0 1px 0 transparent;
}
@keyframes bible_loader_rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}